md-input {
    width: 100%
}

md-radio-button, md-checkbox {
    margin: 20px 10px;
}

.example-header-image {
    background-image: url('assets/images/profile-placeholder.jpg');
    background-size: cover;
}

[md-fab] {
    position: absolute;
    right: 5%;
    top: 40px;
    z-index: 1;
}
